.my-lg-6 {
    margin-top: 5rem!important;
    margin-bottom: 5rem!important
  }
    
  .bg-skew {
    position: relative
  }
  
  .bg-skew:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: skewY(-5deg);
    transform-origin: top left;
    z-index: -1
  }
  
  .bg-skew-light:before {
    background-color: #f8f9fa
  }
  
  .card-hover:hover {
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
    transform: translateY(-3px)
  }
  
  .link-cta {
    border-bottom: 2px solid #006aff;
    color: #343a40;
    font-size: .875rem;
    letter-spacing: 1px;
    padding-bottom: 2px;
    text-transform: uppercase
  }
  
  .link-cta:hover {
    color: #006aff;
    text-decoration: none
  }
  
  .link-tag {
    text-decoration: underline
  }
  
  .link-tag:hover{
    text-decoration: none
  }
  
  .card-title a {
    color: #212529
  }
  
  .card-title a:focus, .card-title a:hover {
    color: #006aff;
    text-decoration: none
  }
  